.EklemeFormu{
    display: flex;
    align-items: center;
    width: 800px;
    margin: auto;
}
.SirketYoneticiEkleForm{
    margin : 0 100px;
    display: flex;
    border-radius: 10px;
    border: 1px solid #333;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    font-family: Optima, sans-serif;
    textarea,input[type="file"],input[type="text"],input[type="date"],input[type="email"]{
        width: 300px;        
    }    
}
.sirket {
  label {
    display: block;
    margin-bottom: 8px;
  }

  select {
    width: 300px; 
    padding: 8px; 
    font-size: 14px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #fff; 
    cursor: pointer; 
    
    
    &:focus {
      border-color: #1db6c7;
      outline: none;
    }
  }
}
.FotoEkle{
    display: flex;
    justify-content: space-between;
    width: 500px;
    
  }
  .input{
    display: flex;
    justify-content: space-between;
    width: 500px;
    
  }
  .sirket{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 500px;
    
  }
  .takvim{
    display: flex;
    justify-content: space-between;
    width: 500px;
  }

  .button{
    margin-bottom: 10px;
    margin-top: 30px;
    width: 400px;
  }
