.sirketEkleBaslik {
  text-align: center;
}
.sirketEkleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sirket-ekle {
  font-family: sans-serif;
  font-weight: 300;
  font-style: normal;
  input {
    padding-left: 5px;
    height: 35px;
  }
  .ekle {
    padding-left: 15px;
  }
}
.sirketEkleForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 20px 70px grey;
  width: 500px;
  padding: 5px;
  label,
  input[type="text"] {
    margin: 2px 0;
    padding: 0;
    width: 400px;
  }
  input[type="text"] {
    height: 30px;
    padding: 5px;
  }
  input[type="submit"] {
    margin: 2px 150px;
    padding: 0;
    width: 100px;
    height: 20px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
  width: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(25px);
}
table th div,
table tr td div {
  padding-left: 10px;
}
.Hazan {
    max-height: 700px !important;
    min-height: 600px !important;
    overflow-y: auto !important;
    background-color: white;
    height: 80vh; 
    width: 100%; 
    box-sizing: border-box;
}
table {
    width: 100%;
    table-layout: fixed; 
  }
.yapistir {
  top: 0px;
  position: sticky;
}

.error {
  color: rgb(255, 0, 0);
  font-family: "Mako", serif;
  font-weight: 600;
  font-style: italic;
}

.form-input-sifre {
  width: 350px;
}
.foto-sekil {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.264);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal içeriği */
.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

/* büyütülmüş hali */
.modal-image {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}

/* Kapatma butonu */
.close-btn {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  padding-bottom: 3px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  z-index: 1100;
}

.close-btn:hover {
  color: red;
}

.harcama-satir td {
  height: 80px;
}

th{
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}